* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column; 
}

.top-header {
  text-align: center;
}

.top-link {
  font-size: 60px;
  color: rgb(46, 95, 46);
  font-weight: bold;
  text-decoration: none;
}


.nav {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  
}

.lists-right ul {
  display: inline-block;
  margin-top: 20px;
  margin-right: 100px;
  

}

.lists-right li {
  display: inline-block;
  list-style: none;
  margin-right: 40px;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #2ac5b3;
}

.user-link {
  color: #494b52;
  text-decoration: none;
}


.sns-login {
  margin-top: 15px;
  display:flex;
  justify-content:space-around;
}

.facebook-login {
  color: #333333;
}

.google-login {
  color: #333333;
}