<%= render "shared/header" %>
<div class='main'>

 


  <div class='title-content'>
    <h2>投稿一覧</h2>
  </div>


 <%= link_to "/" do %>
  <div class='document-btn'>
   <span class='document-btn-text'>新規作成</span>
     <%= image_tag 'report.png' , size: '50x80' ,class:"document-btn-icon" %>
  </div>
  <% end %>





</div>