.document-btn {
  width: 120px;
  background: skyblue;
  text-align: center;
  border-radius: 10%;
  top: 250px;
  right: 32px;
  position: fixed;
  padding: 5px;
}

.document-btn-text {
  color: rgb(22, 4, 185);
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.document-btn-icon {
  width: 60%;
}
