.document-btn {
  width: 120px;
  background: rgb(169, 218, 236);
  text-align: center;
  border: 2px solid rgb(7, 92, 153);
  border-radius: 10%;
  bottom: 400px;
  right: 32px;
  position: fixed;
  padding: 5px;
}

.document-btn-text {
  color: rgb(36, 35, 49);
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.document-btn-icon {
  width: 30%;
  height: 30%;
}
