.title-content {
  padding: 30px;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}

.document-info {
  text-align: center;
  overflow-x : auto
}


table{
  width: 70%;
  margin:  60px auto;


}

table th{
  padding : 10px 5px;
}

table td{
  padding : 20px 10px;
}

th,td{
  border:solid 2px #aaaaaa;
}


.document-title {
  font-size: 20px;
}


.search-form {
  width: 60vw;
  height: 5vh;
  text-align: center;
}

.search-form>.input-box {
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: white;
  padding: 8px;
}

.search-icon {
  width: 100%;
}