.document-info {
  width: 60%;
  margin:  50px auto;
}

.info-title {
  padding : 5px;
  text-align: center; 
  background-color: #ebf9ff;
}

.info-title-day {
  text-align: center; 
  background-color: #ebf9ff;
}

.info-content {
  padding : 20px 10px;
  text-align: center; 
}

.info-content-day, .info-title-day {
  padding : 0px;
  text-align: center; 
}

.info-title,.info-content, .info-content-day, .info-title-day{
  border:solid 2px #252525;
}


.document-title {
  font-size: 5px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.tag-list{
  margin-bottom: 10px;
}

.from-search {
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.from-search-text {
  font-size: 10px;
}
