/*共通*/

.indispensable {
  background: #e04b85;
  margin-left: 8px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.dispensable {
  background: #575ec0;
  margin-left: 8px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.select-box {
  margin-top: 5px;
  margin-left: 50px;  
  height: 30px;
  width: 70%;
  background-color: white;
  padding-left: 5px;
}