.documents-create-main {
  
  background-color: #FFF;
  width: 100vw;
  min-width: 450px;
  padding: 5vh 15vw;
  margin:  0 auto; 
  
}

.documents-createtitle {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/*共通*/

.indispensable {
  background: #e04b85;
  margin-left: 8px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.dispensable {
  background: #575ec0;
  margin-left: 8px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.select-box {
  margin-top: 5px;
  margin-left: 50px;  
  height: 30px;
  width: 70%;
  background-color: white;
  padding-left: 5px;
}
/*共通*/

.documents-date {
  text-align: center;
}

.new-documents {
  padding: 2vh 0;  
}

.tag-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.document-form-title {
  width: 100%;
  height: 60px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.documents-content {
  margin: 2vh 0;
}

.document-form-content {
  width: 100%;
  height: 500px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.documents-deadline {
  text-align: center;
  margin-bottom: 4vh;
}

.create-btn-contents {
  width: 100%;
  text-align: center;
}



.create-btn {
  display: block;
  border: 2px solid #f5544e;
  color: #f5544e;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  cursor: pointer;
}

.create-btn:hover{
  background-color: #f5544e;
  border-color: #f5544e;
  color: white;
}

.back-btn {
  background: rgb(103, 119, 97);
  border: 1px solid rgb(103, 119, 97);
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
  cursor: pointer;
}

