.documents-create-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.new-document-detail {
  font-size: 40px;
  color: #666;
  padding: 10px;
  width: 70%; 
  color: #666;
  text-align: center;
}


.detail-document {
  word-break : break-all;
  text-align: center;
}



.detail-title, .detail-content, .detail-contents-title, .detail-content-edit {
  text-align: center;
  padding: 20px 10px;
}

.detail-title, .detail-content, .detail-contents-title, .detail-contents, .detail-content-edit {
  font-size: 20px;
  background-color: #fff; 
  border: solid 1px rgb(104, 104, 104); 
}

.detail-contents, .detail-content ,.detail-content-edit{
  min-width:500px;
}

.detail-contents {
  text-align: center;
  height: 300px;
  padding: 20px 10px;
}


.detail-content-edit {
  display: flex;
  justify-content: space-around;
}

.mark-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.comment-box {
  width: 50vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}


.comment-btn {
  line-height: 45px;
  background-color: #2b8b43;
  border: 1px solid #2b8b43;
  color: #fff;
  width: 30%;
  min-width: 150px;
  font-size: 15px;
}

.comment-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-content {
  font-size: 30px;
  
}

.comment-soon {
  width: 50vh;
  padding: 0.5em 1em;
}

.image-space {
  float: left;
  margin-right: -120px;
}


.comment-image {
  height: 90px;
  width: 90px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.chat-space{
  width: 100%;
  float: right;
  margin-top: 50px;
}

.comment-area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-chat{
  display: inline-block;
  padding: 15px 20px;
  margin-left: 120px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}