.form-search-text {
  font-size: 20px;
}

.user-info {
  width: 60%;
  margin:  50px auto;
}

.user-title {
  padding : 5px;
  text-align: center; 
  background-color: #fff6eb;
}

.user-contents {
  padding : 10px;
  text-align: center; 
}

.user-title,.user-contents {
  border:solid 2px #252525;
}

.user-content {
  margin-left: 10px;
  font-size: 3vh;
  color: black;
  margin: 10px 0;
  border-bottom: 2px solid rgb(77, 77, 177);
}



