.user-show-main {
  margin-top: 20px;
  background-color: rgb(243, 243, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-image-show {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(133, 133, 224);
  background-color: white;
  object-fit: contain;
  margin-right: 40px;
}

.user-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 10px;
}

.user-text-wrap {
  font-size: 2vh;
  color: black;
}

.user-content  {
  font-size: 3vh;
  color: black;
  border-bottom: 1px solid rgb(77, 77, 177);
  width: 60vh;
  
}

.user-edit-link {
  margin-right: 50px;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  
}