.wrapper {
  display: flex;
  height: 100%;
  background-color: rgb(255, 255, 238);
}

.side_bar {
  margin: 0px;
}


.user-show-main {
  display: flex;
  justify-content: center;
  width: calc(100% - 300px);
}

.user-image-show {
  height: 30vh;
  width: 30vh;
  border: 2px solid rgb(133, 133, 224);
  background-color: white;
  object-fit: contain;
}

.user-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.user-text-wrap {
  padding: 10px;
  font-size: 15px;
  color: black;
}

.user-content  {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid rgb(77, 77, 177);
  width: 60vh;
  
}


/*side-barのCSS*/

.user-side-list {
  flex-wrap: wrap;
  width: 300px;
}


.user-edit-link {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  
}

.user-memo-link {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  
}

ul {
  list-style: none;
}

/*memo一覧*/

.user-memo-place {
  display: flex;
  justify-content: center;

  border: solid 2px rgb(233, 203, 178);
  border-radius: 10px;

}

.user-memo-information {
  padding: 0.5em 1em;
  margin-top: 5px;
  font-size: 8px;
}


.user-memo-information p {
  font-size: 15px;
  font-weight: bold;
}

